* {
    /* border: 1px solid red; */
    /* background-color: black; */
}

.navbar {
    --bs-bg-opacity: 30%;
}

.bg-image {
    position: relative;
    text-align: center;
    color: white;
}

.main-text {
    position: absolute;
    top: 90%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}
